
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


        /*=============== REUSABLES ================*/

/* Universal operator */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
}

html{
    font-size: 62.5%;
}

h1,h2,h3,h4 {
    color: var(--primary-clr);
    font-family: Poppins,sans-serif;
}

p{
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--para-clr);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{

--helper-color:#A4CE95;
--primary-clr:#124076;
--para-clr:#39385e;
--white: #fff;
--soft-white:#98988e;

/* .img{ */
    /* display: inline-block; */
    /* width: 100%; */
/* } */

.navbar-link{
    color: var(--para-clr);
    transition: all 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active{
    color: var(--helper-color);
}


}

/*========================================== HEADER =========================================== */

.header{
    background-color: #DDDDDD;
    padding: 0 7rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header .logo{
    font-size: 4rem;
    font-weight: 700;
}



.navbar-list{
    
    display:flex ;
    align-items: center;
    justify-content: flex-end;
    gap: 3.4rem;  
}

.navbar-link{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
}


/* ================== MAIN =========================*/

/*=========== REUSABLE ==============*/

.section{
    padding: 9rem 0 ;
    background-color: cadetblue;
}

.container{
    /* background-color: bisque; */
    max-width: 130rem;
    margin: 0 auto;
}

.grid{
    display: grid;
    gap: 6rem;
}

.grid-two-column{
    grid-template-columns:repeat(2,1fr) ;
}

/*============= LEFT SIDE =============*/

.main-heading{
    font-size: 6rem;
}

.main-para{
    padding: 3.5rem 0;
}

.btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--helper-color);
    padding: 1.5rem 3.5rem;
    border-radius: 10rem;
    border: 1px solid var(--helper-color);
    border-color: var(--helper-color);
    background-color: var(--white);
    transition: all 0.2s linear;
}

.btn:hover{
    background-color: #A4CE95;
    color: #fff;
}


/* ================= RIGHT SIDE ================ */

.hero-img{
    width: 100%;
    height: 70%;
}